.exoSelector {
    width: 100%;
    padding: 2%;
    margin: 10%;
    border: none;
    border-bottom: 1px solid #3B3B4D;
    padding: 10% 20% 10% 0;
    font-family: 'Muli';
    font-size: 16px;
    line-height: 20px;
    background-color: white;
}

.dataContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dataBox {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dataBox>input {
    border: none;
    border-bottom: 1px solid #3B3B4D;
    width: 80%;
    padding: 10% 0;
    font-family: 'Poppins';
    font-size: 60px;
    line-height: 20px;
    text-align: center;
    font-weight: 600;
}
.dataBox>input::placeholder {
    color: #BDCADB;
}
.dataBox>label {
    font-size: 16px;
    line-height: 20px;
    font-family: 'Muli';
    margin: 30% 0;
}

.moodTitle {
    text-align: center;
    width: 80%;
}
.isHidden {
    display: none;
}
.moodContainer {
    display: flex;
    margin-bottom: 50%;
    margin-top: 5%;
}
.moodBox {
    margin: 0 5%;
}
.moodBox:hover {
    background-color: rgb(189, 202, 219, 0.3);
    border: solid 0.5 rgb(189, 202, 219, 0.3);
    border-radius: 10px;
}
.moodSelected {
    background-color: rgb(189, 202, 219, 0.3);
    border: solid 0.5 rgb(189, 202, 219, 0.3);
    border-radius: 10px;
}

.moodEmoji {
    height: auto;
    width: 60%;
    display: block;
    margin: 0 auto;
}
.moodWord {
    font-family: 'Muli';
    font-size: 16px;
    line-height: 20px;
    color: #6C7B8A;
    text-align: center;
    padding-bottom: 20%;
}