/*  
gradiant red : background: linear-gradient(180deg, #FA5538 0%, #FA3252 100%);
red : #FB3353;
grey : #BDCADB;
font-family: 'Muli';
*/


.form-page {
    height: 100vh;
    width: 100vw;
    position: relative;
}

.home-header {
    background: linear-gradient(180deg, #FA5538 0%, #FA3252 100%);
    height: 50%;
    position: relative;
}
.home-logo {
    height: auto;
    width: 50%;
    position: absolute;
    top: 25%;
    left: 25%;
}
.link-container {
    display: flex;
    justify-content: space-between;
    width: 80%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
}

.home-content {
    height: 65%;
    position: absolute;
    top: 35%;
    background: white;
    width: 100%;
    border-radius: 30px 30px 0px 0px;
    box-shadow: 0px 1px 40px rgba(0, 0, 0, 0.1);
    padding: 5%;
}

.home-link {
    text-decoration: none;
    color: white;
    font-weight: normal;
    font-family: "Muli";
}
.home-link:hover {
    cursor: pointer;
}

.selected {
    border-bottom: 2px solid white;
    font-weight: bold;
    padding-bottom: 4%;
}


/*   FORM   */

.form {
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 75%;
    margin-top: 5%;
}

.container>label {
    font-family: 'Muli';
    font-weight: 800;
    font-size: 8px;
    line-height: 13px;
    color: #BDCADB;
}

.container>input {
    border: none;
    border-bottom: solid 1px #BDCADB;
    padding: 2% 0;
    font-family: 'Muli';
    font-size: 14px;
    line-height: 25px;
    letter-spacing: -0.3px;
    color: #3B3B4D;
}

.forgot {
    text-decoration: none;
    color: #FB3353;
    font-family: "Muli";
    text-align: end;
    font-weight: 800;
    font-size: 8px;
    line-height: 13px;
    margin-top: 3%;
}

.btn {
    background: linear-gradient(180deg, #FA5538 0%, #FA3252 100%);
    border: 0.5px solid #FB3353;
    box-sizing: border-box;
    border-radius: 10px;
    width: 80%;
    margin: 8% auto;
    padding: 4%;
    color: white;
    font-family: 'Muli';
    font-weight: bold;
    font-size: 14px;
    line-height: 25px;
}

.icon {
    color: #FB3353;
}
.icon:hover {
    cursor: pointer;
}

